<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
      <h1>Staff Crud</h1>
  </div>
</nav>



<div class="container mt-5">
<h5>Tambah Employee</h5>
<hr>
  <form>
    <div class="row">

        <div class="col">
          <label for="FirstName">First Name</label>
          <input type="text" class="form-control" id="FirstName" placeholder="FirstName"  aria-label="Name">
        </div>

        <div class="col">
          <label for="LastName">Last Name</label>
          <input type="text" class="form-control" id="LastName" placeholder="LastName"  aria-label="Name">
        </div>

        <div class="col">
          <label for="Email">Email</label>
          <input type="email" class="form-control" id="Email" placeholder="Email"  aria-label="Email">
        </div>

        <div class="col">
          <label for="Title">Title</label>
          <input type="text" class="form-control" id="Title" placeholder="Title"  aria-label="Title">
        </div>

        <div class="col">
          <label for="Role">Role</label>
            <select class="form-control" id="Role">
              <option>Admin</option>
              <option>User</option>
            </select>
        </div>

        <div class="col mt-auto">
          <button class="btn btn-primary">Tambah Data</button>
        </div>
        
    </div>
  </form>


  <!-- <h1>Table Employee</h1> -->
<hr>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Title</th>
        <th scope="col">Role</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let result of results; let i = index;">
        <th scope="row">{{i+1}}</th>
        <td>{{result.firstName+" "+result.lastName}}</td>
        <td>{{result.email}}</td>
        <td>{{result.title}}</td>
        <td>{{result.role}}</td>
        <td><button class="btn btn-danger btn-sm"><i class="bi bi-trash3"></i> Delete</button><button class="btn btn-warning btn-sm mx-3"><i class="bi bi-pencil-square"></i> Edit</button></td>
      </tr>
    </tbody>
  </table>
</div>

<!-- copy of table employee
  <h1>Table Employee</h1>
<hr>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Title</th>
        <th scope="col">Role</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>@mdo</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
</div> -->
